/* globale einstellungen */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    min-height: 100vh;
    /* jede content-seite / oder footer im mobile sollte margin-top: auto; als classe bekommen, dadurch hat der body immer 100vh da er sich auf 100vh ausstreckt und das andere diesen platz gibt dafür*/
    display: flex;
    flex-direction: column;
    background: #F6F7F8;
}

textarea {
    font-family: 'Inter', sans-serif;
}

.d-none {
    display: none;
}

.content-box {
    display: flex;
    height: calc(100vh - 89px);
}

.content {
	flex: 1;
	display: flex;
	flex-direction: column;
	/* width: 85vw; */
	/* min-width: 270px; */
    background: #F6F7F8;
    /* margin-left: auto; */
    /* margin-right: auto; */
	/* border: 2px solid black; */
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.contacts-content-box {
    display: flex;
}

#contacts-content {
    min-width: 280px;
    width: 35%;
}

#contacts-description-content {
    width: 65%;

}
/* globale einstellungen ende */


/* schriftarten einstellungen für mobil-version */
.font-16 {
    font-size: 16px;
}

.font-21 {
    font-size: 21px;
}

.font-27 {
    font-size: 27px;
}

.font-32 {
    font-size: 32px;
}

.font-47 {
    font-size: 47px;
	font-weight: bold;
}

.font-64 {
    font-size: 64px;
}

.font-weight-400 {
    font-weight: 400px;
    text-align: center;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700 {
    font-weight: 700;
}
/* schriftarten mobil ende */