/* https://www.mediaevent.de/css/clamp.html weitere infos hier */
/* width: min(70%, 200px);        // min 70% und maximal 200px der div (übergeordnete div sollte 100% haben)  */

/* hier sieht man sehr schön in dem test wie sich alles responsive verändert */
.test {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    width: 20%;    /* sagt das diese div sich 20% nimmt */
}

.test2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: blue;
    color:  red;
    width: 50%;    /* sagt das diese div sich 50% nimmt */
}

/* es müsste noch eine aüßere div geben damit man dieser dann center geben könnte!, die nochmal aüßere div hätte dann width 100% */
.divaußen {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(70vw, 500px);         /* mindestens 70vw und maximal 500px heißt das (äußere div sollte 100% width haben) */
    background: lightblue;
}









.multiselect {
    width: 200px;
  }
  
  .selectBox {
    position: relative;
  }
  
  .selectBox select {
    width: 100%;
    font-weight: bold;
  }
  
  .overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  #checkboxes {
    display: none;
    border: 1px #dadada solid;
  }
  
  #checkboxes label {
    display: block;
  }
  
  #checkboxes label:hover {
    background-color: #1e90ff;
  }