.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 79.02px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.user_img_header {
    width: 39px;
    height: 39px;
    left: 0px;
    top: 0px;
    border: 2px solid #2A3647;
    border-radius: 50px;
    margin-right: 25px;
    margin-left: 20px;
    padding: 2px;
}

.header_logo {
    height: 45px;
    width: 45px;
    margin-left: 25px;
}

.p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 348px;
    font-size: 21px;
}

.navbar_header {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}