.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
	position: sticky;
	right: 0;
	top: 0;
    height: 89px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.user-img-header {
    width: 49px;
    height: 49px;
    border: 3px solid #2A3647;
    border-radius: 50%;
    margin-left: 26px;
}

#userImage {
	padding: 1.5px;
	height: 46px;
	width: 46px;
	border-radius: 50%;
} 
	 
.span-header {
	font-weight: 400;
	font-size: 21px;
}

.navbar-header {
    display: flex;
    align-items: center;
}

.padding {
	padding-left: 5vw;
	padding-right: 5vw;
	border: 2px solid black;
}



