.menu-bar {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 232px;
	width: 15vw;
	height: 100vh;
	position: sticky;
	left: 0;
	top: 0;
	bottom: 0;
	background-color: #2a3647;
	color: #cdcdcd;
}


.main-container {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: row-reverse;
}


.header-with-content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	flex: 1;
}


.menu-bar img {
	width: 43%;
	margin-top: 8vh;
	cursor: pointer;
}


.menu-bar-nav-section {
	width: 100%;
	margin-top: 12vh;
}


.menu-bar-nav-button {
	min-height: 46px;
	height: 4.5vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 25%;
	cursor: pointer;
}


.menu-bar-nav-button img {
	margin: 0;
	height: 55%;
	width: auto;
	aspect-ratio: 1;
	padding-right: 12%;
	cursor: pointer;
}


.menu-bar-legal-button {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	min-height: 46px;
	height: 4.5vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 20%;
	margin-top: auto;
	margin-bottom: 5vh;
	cursor: pointer;
}


.menu-bar-legal-button img {
	margin: 0;
	height: 40%;
	width: auto;
	aspect-ratio: 1;
	padding-right: 12%;
	cursor: pointer;
}


.appear-mobile {
	display: none;
}



.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	right: 0;
	top: 0;
	min-height: 89px;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}


.user-img-header {
	width: 49px;
	height: 49px;
	border: 3px solid #2A3647;
	border-radius: 50%;
	margin-left: 26px;
	cursor: pointer;
}


#userImage {
	padding: 1.5px;
	height: 46px;
	width: 46px;
	border-radius: 50%;
}


.span-header {
	font-weight: 400;
	font-size: 21px;
}


.navbar-header {
	display: flex;
	align-items: center;
}


.padding {
	padding-left: 5vw;
	padding-right: 5vw;
}


.selected {
	background-color: #091931;
	color: #fff;
}


@media (max-width: 800px) {
	.hide-mobile {
		display: none;
	}

	.main-container {
		flex-direction: column;
		align-items: center;
		width: 100%;
	}

	.menu-bar {
		flex-direction: row;
		width: 100%;
		height: 80px;
		position: sticky;
		left: 0;
		bottom: 0;
	}

	.header {
		min-height: 80px;
	}

	.header-with-content {
		width: 100%;
	}

	.menu-bar-nav-section {
		margin-top: 0;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.menu-bar-nav-button {
		width: 75px;
		height: 80px;
		padding-left: 0;
		flex-direction: column;
		justify-content: center;
	}

	.menu-bar-nav-button img {
		margin: 0;
		height: 30%;
		padding-right: 0;
		padding-bottom: 10px;
	}

	.appear-mobile {
		display: block;
	}
}