h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

body {
    margin: 0px;
    font-family: 'inter', sans-serif;
    margin: 0;
    background-color: #F6F7F8;
    box-sizing: border-box;
}

.guest-login {
    font-size: 21px;
    font-weight: 700;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 55px;
}

.login-btn {
    width: 120px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.btn-dark {
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 51px;
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    transition: background-color 0.125s ease!important;
}

.not-a-join {
    position: absolute;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    right: 50px;
    top: 67px;
    z-index: 1;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #F6F7F8;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 5%;
    gap: 20px;
    width: clamp(500px, 40vw, 652px);
    background: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    z-index: 1;
}

.line-login {
    width: 150px;
    height: 0px;
    border-top: 3px solid #29ABE2;
    margin-bottom: 10px;
    border-radius: 10px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    height: 51px;
    margin-bottom: 50px;
    cursor: pointer;
}

.input-container {
    width: clamp(320px, 26vw, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 45px;
    cursor: pointer;
    font-size: 21px;
    border: none;
    outline: none;
}

.remember-check {
    display: flex;
    width: 330px;
    gap: 35px;
}

.remember-check a {
    color: #29ABE2;
    text-decoration: none;
}

.animate-background {
    animation: bg-transparent 1000ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes bg-transparent {
    from {
        opacity: 1;
        z-index: 1;
    }
    to {
        opacity: 0;
        z-index: 0;
    }
}