body {
    margin: 0px;
    font-family: 'inter', sans-serif;
    margin: 0;
    background-color: #F6F7F8;
    box-sizing: border-box;
}

.display-none {
    display: none !important;
}

h1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(40px, 3.5vw, 61px);
    text-align: center;
    margin: 0;
}

.not-a-join {
    position: absolute;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    right: 50px;
    top: 67px;
    z-index: 1;
}

.btn-dark {
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 51px;
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    transition: background-color 0.125s ease!important;
}

.btn-dark:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}

.btn-bright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 51px;
    padding: 0px 16px;
    gap: 10px;
    border: 1px solid #2A3647;
    border-radius: 8px;
}

.btn-bright:hover {
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: #29ABE2;
}

.guest-login {
    font-size: 21px;
    font-weight: 700;
}

.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 55px;
}

.login-btn {
    width: 120px;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #F6F7F8;
}

.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 5%;
    gap: 20px;
    width: clamp(500px, 40vw, 652px);
    background: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    z-index: 1;
}

.line-login {
    width: 150px;
    height: 0px;
    border-top: 3px solid #29ABE2;
    margin-bottom: 10px;
    border-radius: 10px;
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    height: 51px;
    margin-bottom: 50px;
    cursor: pointer;
}

.input-container {
    width: clamp(320px, 26vw, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    width: 100%;
    height: 45px;
    cursor: pointer;
    font-size: 21px;
    border: none;
    outline: none;
}

::placeholder {
    color: #D1D1D1;
    border: none;
}

.remember-check {
    display: flex;
    width: 330px;
    gap: 35px;
}

.remember-check input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.remember-check a {
    color: #29ABE2;
    text-decoration: none;
}

.remember-check span {
    margin-left: 16px;
    margin-right: 32px;
}

.check {
    display: flex;
    cursor: pointer;
}

.arrow-left-back {
    cursor: pointer;
    position: absolute;
    width: 37px;
    height: 37px;
    left: 30px;
    top: 30px;
}

.textbox {
    font-weight: 400;
    font-size: clamp(14px, 1vw, 21px);
    text-align: center;
    margin-bottom: 30px;
}

#registerBox {
    color: green;
}

.animate-background {
    animation: bg-transparent 1000ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes bg-transparent {
    from {
        opacity: 1;
        z-index: 1;
    }
    to {
        opacity: 0;
        z-index: 0;
    }
}

.moving-logo {
    position: absolute;
    z-index: 999;
    left: calc(100vw - 50% - 101px);
    top: calc(100vh - 50% - 122px);
    width: 202px;
    height: 244px;
}

.animate-logo {
    animation: moveJoinLogo 500ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes moveJoinLogo {
    from {
        /* Um das Logo mittig zu platzieren, muss man die hÃ¤lfte der Breite abziehen */
        left: calc(100vw - 50% - 101px);
        /* Um das Logo mittig zu platzieren, muss man die hÃ¤lfte der HÃ¶he abziehen */
        top: calc(100vh - 50% - 122px);
        width: 202px;
        height: 244px;
    }
    to {
        left: 50px;
        top: 50px;
        width: 101px;
        height: 122px;
    }
}

@media(max-width:600px) {
    .login-container {
        width: 80%;
    }
    .not-a-join {
        justify-content: center;
        width: 100%;
        right: unset;
        top: 775px;
        padding-bottom: 20px;
    }
}

@media(max-width:450px) {
    .remember-check {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: -30px;
        width: 80%;
    }
    .login-container {
        position: absolute;
        top: 150px;
    }
    .check {
        display: flex;
        gap: 20px;
    }
    .login-btn {
        width: 180px;
        font-size: 16px;
    }
    .login-buttons {
        flex-direction: column;
        height: auto;
        gap: 35px;
        width: unset;
    }
    .btn-bright {
        padding: unset;
        width: 180px;
        font-size: 16px;
    }
    .moving-logo {
        width: 64px !important;
        height: 78px !important;
        left: 37px !important;
        top: 38px !important;
    }
    .input-field {
        width: 80%;
    }
    .input-container {
        width: unset;
    }
    h1 {
        font-size: 40px;
    }
    .not-a-join span {
        font-size: 16px;
    }
    .arrow-left-back {
        filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(152deg) brightness(0%) contrast(100%);
        width: 20px;
        height: 20px;
        left: 20px;
        top: 20px;
    }
}

@media(max-width:330px) {
    .not-a-join {
        gap: 5px;
    }
}