<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="fonts.css" />
    <link rel="stylesheet" href="/style/header_mobile.css">


</head>

<body>

    <div class="header">
        <img class="header-logo" src="/assets/img/join_logo_dark.png" alt="Join Logo">
        <img class="user-img-header" src="/assets/img/guest-user-header.png" alt="User">
    </div>


</body>

</html>