<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/content/contacts.css">
    <title>Contacts</title>
</head>

<body>
    <section class="content-contact">
        <section>
            <div class="add-new-contact">
                <img src="/assets/img/contact-new.png" alt="new-contact-img">
            </div>

            <div class="overflow-scroll">
                <div class="contacts-list">
                    <div>
                        <h3>A</h3>
                    </div>
                </div>
                <div class="line">
                    <img src="/assets/img/contact-line.png" alt="contact-line-img">
                </div>
                <div>
                    <div class="assigned mt-11 row">
                        <div class="name-border">AW</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Albert Wissigkeit</b></span>
                            </div>
                            <a href="#">albert@gmail.com</a>
                        </div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border2">AZ</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Anja Zabruck</b></span>
                            </div>
                            <a href="#">anja@gmail.com</a>
                        </div>
                    </div>
                </div>

                <div class="contacts-list">
                    <div>
                        <h3>B</h3>
                    </div>
                </div>
                <div class="line">
                    <img src="/assets/img/contact-line.png" alt="contact-line-img">
                </div>
                <div>
                    <div class="assigned mt-11 row">
                        <div class="name-border">BM</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Bine Maja</b></span>
                            </div>
                            <a href="#">bine@gmail.com</a>
                        </div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border2">BB</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Benjamin Bauer</b></span>
                            </div>
                            <a href="#">benjamin@gmail.com</a>
                        </div>
                    </div>
                </div>
                <!-- versteckt solange kein neuer contakt kreiert ist -->
                <div class="contact-created">
                    Contact successfully created
                </div>





                
                <div class="contacts-list">
                    <div>
                        <h3>A</h3>
                    </div>
                </div>
                <div class="line">
                    <img src="/assets/img/contact-line.png" alt="contact-line-img">
                </div>
                <div>
                    <div class="assigned mt-11 row">
                        <div class="name-border">AW</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Albert Wissigkeit</b></span>
                            </div>
                            <a href="#">albert@gmail.com</a>
                        </div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border2">AZ</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Anja Zabruck</b></span>
                            </div>
                            <a href="#">anja@gmail.com</a>
                        </div>
                    </div>
                </div>

                <div class="contacts-list">
                    <div>
                        <h3>B</h3>
                    </div>
                </div>
                <div class="line">
                    <img src="/assets/img/contact-line.png" alt="contact-line-img">
                </div>
                <div>
                    <div class="assigned mt-11 row">
                        <div class="name-border">BM</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Bine Maja</b></span>
                            </div>
                            <a href="#">bine@gmail.com</a>
                        </div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border2">BB</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Benjamin Bauer</b></span>
                            </div>
                            <a href="#">benjamin@gmail.com</a>
                        </div>
                    </div>
                </div>
              
                <div class="contacts-list">
                    <div>
                        <h3>A</h3>
                    </div>
                </div>
                <div class="line">
                    <img src="/assets/img/contact-line.png" alt="contact-line-img">
                </div>
                <div>
                    <div class="assigned mt-11 row">
                        <div class="name-border">AW</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Albert Wissigkeit</b></span>
                            </div>
                            <a href="#">albert@gmail.com</a>
                        </div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border2">AZ</div>
                        <div class="left-distance">
                            <div>
                                <span><b>Anja Zabruck</b></span>
                            </div>
                            <a href="#">anja@gmail.com</a>
                        </div>
                    </div>
                </div>

            </div>

        </section>
    </section>
</body>

</html>