<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/content/contact_description.css">
    <title>Contact Description</title>
</head>

<body>
    <section class="content">
        <span class="mt-11">Kanban Project Management Tool</span>
        <div class="go-back">
            <div>
                <h2 class="font-47">Contacts</h2>
                <span class="font-21">Better with a team</span>
            </div>
                <img src="/assets/img/task-left-arrow.png" alt="left-arrow-img">
        </div>
        <div class="blue-line">
            <img src="/assets/img/blue-line-mobile.png" alt="blue-line-img">
        </div>
        <div>
            <div class="contact-info">
                <div class="initials font-27">
                    AM
                </div>
                <div>
                    <div>
                        <h3 class="font-27">Anton Mayer</h3>
                    </div>
                    <div class="add-task">
                        <img src="/assets/img/contact-plus.png" alt="plus-img">
                        <span>Add Task</span>
                    </div>
                </div>
            </div>
            <div class="mb-11">
                <h4 class="font-21">Contact Information</h4>
            </div>
            <div class="mail-mobil">
                <div>
                    <span><b>Email</b></span>
                    <a href="#">antom@gmail.com</a>
                </div>
                <div>
                    <span><b>Mobil</b></span>
                    <a href="#">+49 1111 111 11 1</a>
                </div>
            </div>
        </div>
        <div class="delete-button">
            <img src="/assets/img/task-delete-button.png" alt="delete-img">
        </div>
        <div class="edit-button">
            <img src="/assets/img/task-edit-button.png" alt="edit-img">
        </div>
    </section>
</body>

</html>