<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/content/edit-task.css">
    <title>Edit Task</title>
</head>

<body>
    <section class="">
        <section class="content">
            <div class="title">
                <span class="mt-11">Title</span>
                <input type="text" placeholder="add old value with JS" required>
                <!--hier muss halt der alte value eingefügt werden-->
            </div>
            <div class="description">
                <span class="mt-11">Description</span>
                <textarea name="" id="" cols="4" rows="4" placeholder="add old value with JS" required></textarea>
            </div>
            <div class="prio">
                <span class="mt-11 mb-11">Prio</span>
                <div class="prio-row">
                    <div class="prio-class prio-urgent">
                        <span>Urgent</span>
                        <img src="/assets/img/task-prio-urgent-white.png" alt="urgent-img">
                    </div>
                    <div class="prio-class">
                        <span>Medium</span>
                        <img src="/assets/img/task-prio-medium.png" alt="medium-img">
                    </div>
                    <div class="prio-class">
                        <span>Low</span>
                        <img src="/assets/img/task-prio-low.png" alt="low-img">
                    </div>
                </div>
            </div>
            <div class="date">
                <span class="mt-11">Due date</span>
                <div class="date-box">
                    <input class="input-date" type="text" placeholder="add old value with JS">
                    <img src="/assets/img/task-calendar.png" alt="calendar-img" required>
                </div>
            </div>
            <div class="assigned">
                <span class="mt-11">Assigned to</span>
                <select name="assigned" id="assigned-task" class="assigned-select">
                    <option value="">Select contacts to assign</option>
                    <option value="orange">name1</option>
                    <option value="blue">name2</option>
                </select>
                <div class="flex">
                    <div class="assigned mt-11 row">
                        <div class="name-border">DE</div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border2">BZ</div>
                    </div>
                    <div class="assigned mt-11 row">
                        <div class="name-border">DE2</div>
                    </div>
                </div>
            </div>
            <div>
                <img class="ok-button" src="/assets/img/task-ok-button.png" alt="ok-button-img">
            </div>
        </section>
    </section>
</body>

</html>