<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/content/edit_contact.css">
    <title>Edit Contact</title>
</head>
<body>
    <section class="content">
        <div class="border">
            <div class="top-bg">
                <h2>Edit contact</h2>
                <img src="/assets/img/blue-line-mobile.png" alt="blue-line-img">
            </div>
            <div>

            </div>
        </div>
    </section>
</body>
</html>