<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
   <link rel="stylesheet" href="/style/login.css">

    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>Forgot your password?</title>
</head>
<body>

    <img class="moving-logo " src="/assets/img/LogoJoinBig.png ">
    
    <div>
        <div class="content">
            <form class="login-container" >
                <a href="index.html"><img class="go-back-arrow" src="/assets/img/go-back.png"></a>
              
                <h1 style=" font-family: 'Inter', sans-serif;">I forgot my password</h1>
            
                <img src="/assets/img/blue-line-mobile.png">
                <span class="font-21 font-weight-400">
                    Don't worry! We will send you an email with the instructions to
                    reset your password.
                </span>
                <div class="input-container">
                    <div class="input-field">
                        <input required class="input" type="email" name="email" placeholder="E-Mail">
                        <img src="/assets/img/email-icon.png">
                    </div>
                <button type="submit" class= "btn-dark login-btn" type="submit">Send me the email</button>
            </form>
           
        </div>
    </div>
    
</body>
</html>