<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/login.css">
    <link rel="icon" type="image/png" href="/assets/img/favicon.png">
    <title>Reset your password</title>
</head>

<body>
    <img class=" moving-logo " src="/assets/img/LogoJoinBig.png ">

    <div>
        <div class="content">
            <form class="login-container">
                <a href="forgot-password.html"><img class="go-back-arrow" src="/assets/img/go-back.png" alt="go back"
                        onclick="history.back()"></a>
                <h1 style="font-family:'Inter', sans-serif;">Reset your password</h1>
                <img src="/assets/img/blue-line-mobile.png">
                <span class="font-21 font-weight-400">Change your account password here.</span>
                <div class="input-field ">
                    <input class="input" type="password" name="password" placeholder="New password" required>
                </div>
                <div class="input-field ">
                    <input class="input" type="password" name="password" placeholder="Confirm password" required>
                </div>

                <button type="submit" class="btn-dark login-btn">Continue</button>
                <img class="d-none" src="/assets/img/password-reset.png" alt="reset password">
            </form>

        </div>
    </div>

</body>

</html>