<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/style/content/sign_in.css">
    <title>Sign In</title>
</head>

<body>
    <section class="content">
        <div class="sign-in-box">
            <div class="go-back">
                <img src="/assets/img/task-left-arrow.png" alt="arrow-left-img">
                <h1 class="font-47">Sign in</h1>
            </div>
            <img src="/assets/img/blue-line-mobile.png">
            <form action="">
                <div class="contact-box">
                    <div class="name">
                        <div class="name-box">
                            <input class="input-name" type="text" placeholder="Name" required>
                            <img src="/assets/img/charakter-icon.png" alt="charakter-img">
                        </div>
                    </div>

                    <div class="name">
                        <div class="name-box">
                            <input class="input-name" type="text" placeholder="Email" required>
                            <img src="/assets/img/email-icon.png" alt="email-img">
                        </div>
                    </div>

                    <div class="name">
                        <div class="name-box">
                            <input class="input-name" type="text" placeholder="Password" required>
                            <img src="/assets/img/password-icon.png" alt="phone-img">
                        </div>
                    </div>
                </div>
                <div class="sign-up-box">
                    <div class="sign-up">
                        <b>Sign up</b>
                    </div>
                </div>
                <button class="mt-11">ADD + just 4 required tests</button>
            </form>
        </div>
    </section>
</body>

</html>