<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/content/task_view.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <section class="">
        <section class="content">
            <span>Kanban Project Management Tool</span>
            <h2>Add Task</h2>
            <div class="title">
                <span>Title</span>
                <input type="text" placeholder="Enter a Title">
            </div>
            <div class="description">
                <span class="mt-11">Description</span>
                <input type="text" placeholder="Enter a Description">
            </div>
            <div class="prio">
                <span class="mt-11 mb-11">Prio</span>
                <div class="prio-row">
                    <div class="prio-class">
                        <span>Urgent</span>
                        <img src="/assets/img/prio-urgent.png" alt="urgent-img">
                    </div>
                    <div class="prio-class">
                        <span>Medium</span>
                        <img src="/assets/img/prio-medium.png" alt="medium-img">
                    </div>
                    <div class="prio-class">
                        <span>Low</span>
                        <img src="/assets/img/prio-low.png" alt="low-img">
                    </div>
                </div>
            </div>
            <div class="date">
                <span class="mt-11">Due date</span>
                <input type="text" placeholder="dd/mm/yyyy">
                <img src="/assets/img/addt-task-calendar.png" alt="calendar-img">
            </div>
            <div class="category">
                <span class="mt-11">Category</span>
                <select name="category" id="category-task" class="category-select">
                    <option value="">Select task category</option>
                    <option value="orange">Orange</option>
                    <option value="blue">Blue</option>
                    <option value="red">Red</option>
                    <option value="green">Green</option>
                </select>
            </div>
            <div class="assigned">
                <span class="mt-11">Assigned to</span>
                <select name="assigned" id="assigned-task" class="assigned-select">
                    <option value="">Select contacts to assign</option>
                    <option value="orange">name1</option>
                    <option value="blue">name2</option>
                </select>
            </div>
            <div class="subtask">
                <span class="mt-11">Subtasks</span>
                <input type="text" placeholder="Add  new subtask">
                <img src="/assets/img/task-plus.png" alt="plus-img">
                <div>
                    <input type="checkbox">
                    <span>Subtask 1</span>
                </div>
            </div>
            <div class="task-added">   <!-- task-added wird nur angezeigt wenn der task hinzugefügt wurde, sonst nicht-->
                <span>Task added to board</span>
                <img src="/assets/img/task-board.png" alt="board-img">
            </div>
        </section>
    </section>
</body>

</html>