<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/content/task_view.css">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <div class="add-task">
        <span class="kanban-tool">
            Kanban Project Management Tool
        </span>
        <h2 class="h2-add-task">
            Add Task
        </h2>
        <span class="title">
            Title
        </span>
        <input type="text" class="input-title" placeholder="Enter a title">
        <span class="description">
            Description
        </span>
        <input type="text" class="input-description" placeholder="Enter a Description">
        <span class="prio">
            Prio
        </span>
        <div class="priority">
            <div class="priority-box">
                <span>Urgent</span>
                <img src="/assets/img/prio-urgent.png" alt="prio-urgent-img">
            </div>
            <div class="priority-box">
                <span>Medium</span>
                <img src="/assets/img/prio-medium.png" alt="prio-medium-img">
            </div>
            <div class="priority-box">
                <span>Low</span>
                <img src="/assets/img/prio-low.png" alt="priolow-img">
            </div>
        </div>
        <div class="date-frame">
            <span>Due date</span>
            <div class="input-frame">
                <input type="text" class="input-date" placeholder="dd/mm/yyyy">
                <div class="calendar-frame">
                    <img class="calendar-img" src="/assets/img/addt-task-calendar.png" alt="calendar-img">
                </div>
            </div>
        </div>
    </div>
</body>

</html>