<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/content/task_view.css">
    <link rel="stylesheet" href="/style.css">
    <title>Task View</title>
</head>

<body>
    <section class="">
        <section class="content">
            <div class="category-box">
                <span class="category">
                    Sales
                </span>
                <div>
                    <img src="/assets/img/task-left-arrow.png" alt="left-arrow-img">
                </div>
            </div>
            <h2>Call potencial clients</h2>
            <span>Make the product presentation to prospective buyers</span>
            <div class="date mt-11">
                <span><b>Due date:</b></span>
                <span>05-08-2022</span>
            </div>
            <div class="priority mt-11 row">
                <span><b>Priority:</b></span>
                <div class="prio-urgent">
                    <span>Urgent</span>
                    <img src="/assets/img/task-prio-urgent-white.png" alt="urgent-img">
                </div>
            </div>
            <div class="mt-11">
                <span><b>Assigned To:</b></span>
                <div class="assigned mt-11 row">
                    <div class="name-border">DE</div>
                    <span>David Eisenberg</span>
                </div>
                <div class="assigned mt-11 row">
                    <div class="name-border2">BZ</div>
                    <span>Benedikt Ziegler</span>
                </div>
                <div class="assigned mt-11 row">
                    <div class="name-border">DE</div>
                    <span>David test2</span>
                </div>
                <div class="assigned mt-11 row">
                    <div class="name-border2">BZ</div>
                    <span>Benedikt test2</span>
                </div>
            </div>
            <div class="delete-button">
                <img src="/assets/img/task-delete-button.png" alt="delete-img">
            </div>
            <div class="edit-button">
                <img src="/assets/img/task-edit-button.png" alt="edit-img">
            </div>
        </section>
    </section>
</body>

</html>