.create-button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 60px;
    width: 140px;
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.125s ease !important;
    letter-spacing: 0.3px;
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
}

.create-button img {
    margin-left: 10px;
}

.create-button:hover {
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid #29ABE2;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    color: #29ABE2;
    transform: translate(0, -2px); /* Ändere die Y-Translationsbewegung auf -2px, um die Bewegung zu verringern */
}

.create-button2 {
    width: 0;
    height: 0;
    position: absolute;
    top: 1%;
    right: 5%;
    cursor: pointer;
    background: none;
    border: none;
    padding: 0;
}

.add-task-h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-11 {
    margin-top: 11px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title input {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description textarea {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    outline: none;
    resize: none;
}

.prio {
    display: flex;
    flex-direction: column;
}

.prio-class {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    width: 15%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
}

.prio-class:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 13px 20px;
}

.prio-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 33px;
}

.add-task-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-box-add-task {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
    overflow: hidden;
}

.date-box-add-task input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.date-box-add-task img {
    height: 0px;
    width: 0px;
}

.input-date {
    border: none;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.category-select-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.category-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    cursor: pointer;
}

.assigned-add-task {
    display: flex;
    flex-direction: column;
}

.assigned-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.subtask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.subtask-box img:hover {
    cursor: pointer;
}

.input-subtask {
    border: none;
    outline: none;
    width: 100%;
}

.add-task-x-position {
    display: flex;
    top: 17%;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.add-task-x-position-float {
    display: flex;
    top: 8%;
    position: absolute;
    right: 5%;
    cursor: pointer;
}

.task-button-box {
    display: flex;
    margin-left: auto;
    gap: 25px;
    justify-content: end;
    height: 55px;
    align-items: end;
    margin-top: 10px;
    margin-bottom: 10px;
}

.add-task-button {
    justify-content: end;
    background: #2A3647;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
    height: 53px;
}

.add-task-button img {
    margin-right: -5px;
}

.add-task-button:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}

.clear-task-button {
    justify-content: end;
    margin-top: auto;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    cursor: pointer;
    z-index: 100;
    height: 31px;
}


.clear-task-button:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    color: #29ABE2;
}

.task-added {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: #FFFFFF;
    top: 850px;
    z-index: 5;
    width: 85%;
}

.width-100 {
    width: 100%;
}

.option {
    padding: 5px;
    cursor: pointer;
    background-color: white;
    border: none;
    flex-direction: row-reverse;
}

.option input {
    cursor: pointer;
}

.option:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.option:hover {
    background-color: rgb(207, 209, 210);
}

.multiselect {
    width: auto;
}

.selectBox {
    position: relative;
    background: #FFFFFF;
    border-bottom: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.selectBoxFloat {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.arrow {
    margin-left: auto;
}

.selectBox select {
    width: 100%;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

#checkboxes,
#checkboxes1,
#checkboxes2,
#checkboxes3 {
    display: none;
    height: 150px;
    overflow-y: scroll;
}

#checkboxes::-webkit-scrollbar,
#checkboxes1::-webkit-scrollbar,
#checkboxes2::-webkit-scrollbar,
#checkboxes3::-webkit-scrollbar {
    width: 5px;
    background-color: white;
}

#checkboxes::-webkit-scrollbar-thumb,
#checkboxes1::-webkit-scrollbar-thumb,
#checkboxes2::-webkit-scrollbar-thumb, 
#checkboxes3::-webkit-scrollbar-thumb {
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}

.flex-checkboxes {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #dadada;
    border-top: none;
}

.flex-checkboxes-float {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #dadada;
    border-top: none;
}

.flex-checkboxes label {
    display: block;
}

.flex-checkboxes label:hover {
    background-color: #1e90ff;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#renderAddContactInitials {
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

.circle-add-task {
    color: white;
    min-width: 35px;
    max-width: 35px;
    min-height: 35px;
    max-height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}

.new-category {
    border-radius: 10px;
    background-color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000038;
}

.new-category input {
    width: 100%;
    border: none;
    outline: none;
}

.new-category img {
    margin-left: 5px;
}

.new-category-float {
    border-radius: 10px;
    background-color: white;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #00000038;
}

.new-category-float input {
    width: 100%;
    border: none;
    outline: none;
}

.new-category-float img {
    margin-left: 5px;
}

#addTitle {
    outline: none;
}

.center-basket-subtask {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.center-basket-subtask img {
    height: 24px;
}

@media (max-width: 950px) {
    .date-box-add-task {
        margin-bottom: 11px;
    }
}

@media (min-width: 951px) {
    .desktop-size {
        display: flex;
    }

    .add-task-line-margin {
        width: 8%;
        display: flex;
        justify-content: center;
    }

    .add-task-vertical-line {
        border: 1px solid #D1D1D1;
        margin-left: 32px;
        margin-right: 32px;
        height: auto;
    }

    .add-task-responsive-left {
        width: 46%;
    }

    .add-task-responsive-right {
        width: 46%;
    }
}

@media (max-width: 800px) {
    .task-button-box {
        display: none;
    }

    .create-button {
        display: block;
    }
}

@media (min-width: 801px) {
    .add-task-x-position {
        display: none;
    }

    .responsive-hide {
        display: none;
    }
}

/* css scrollbar for add task page */
.add-task-scroll {
    height: 72vh;
    overflow-y: scroll;
    padding-right: 5px;
}

@media (max-width: 800px) {
    .add-task-scroll {
        height: 63vh;
        overflow-y: scroll;
        padding-right: 3px;
    }

    .create-button2 {
        top: 1%;
    }

    .add-task-x-position {
        top: 17%;
    }
}

@media (max-width: 800px) and (max-height: 741px) {
    .add-task-scroll {
        height: 52vh;
    }

    .create-button2 {
        top: 2%;
    }
}

@media (max-width: 800px) and (max-height: 650px) {
    .add-task-scroll {
        height: 44vh;
    }

    .create-button2 {
        top: 2%;
    }

    .add-task-x-position {
        top: 26%;
    }
}

.add-task-scroll::-webkit-scrollbar {
    width: 5px;
}

.add-task-scroll::-webkit-scrollbar-thumb {
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}