.add-task-h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-11 {
    display: flex;
    margin-top: 11px;
}

.mb-11 {
    margin-bottom: 11px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title input {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description textarea {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    outline: none;
    resize: none;
}

.prio {
    display: flex;
    flex-direction: column;
}

.prio-class {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    width: 15%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
}

.prio-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* .subtask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.input-subtask {
    border: none;
    outline: none;
    width: 100%;
} */

.date {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.date-box img {
    height: 18px;
    width: 18px;
}

.input-date {
    border: none;
    outline: none;
    width: 100%;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* für weitere anpassungen der untermenüs (select, option)  muss man das über JS oder drop-down plugins probieren */
.category-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    cursor: pointer;
}

.assigned {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.assigned-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.subtask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.input-subtask {
    border: none;
    outline: none;
    width: 100%;
}

.x-position {
    display: flex;
    top: 2%;
    position: absolute;
    right: 12%;
}

/* task-added wird nur angezeigt wenn der task hinzugefügt wurde, sonst nicht */
.task-added {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: #FFFFFF;
    top: 850px;
    z-index: 5;
    width: 85%;
}

/* task-added-backlog wird nur angezeigt wenn der task hinzugefügt wurde, sonst nicht */
.task-added-backlog {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: #FFFFFF;
    top: 950px;
    z-index: 5;
    width: 85%;
}