.create-button {
    width: 110px;
    height: 60px;
    position: absolute;
    top: 13px;
    right: 15px;
    cursor: pointer;
    display: none;
}


.add-task-h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mt-11 {
    margin-top: 11px;
}

.mb-11 {
    margin-bottom: 11px;
}

.title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title input {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description textarea {
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    outline: none;
    resize: none;
}

.prio {
    display: flex;
    flex-direction: column;
}

.prio-class {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 20px;
    width: 15%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    cursor: pointer;
    gap: 5px;
}

.prio-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* .subtask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.input-subtask {
    border: none;
    outline: none;
    width: 100%;
} */

.add-task-date {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.date-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.date-box img {
    height: 18px;
    width: 18px;
}

.input-date {
    border: none;
    outline: none;
    width: 100%;
}

.category-select-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* für weitere anpassungen der untermenüs (select, option)  muss man das über JS oder drop-down plugins probieren */
.category-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    cursor: pointer;
}

/* .assigned {
    display: flex;
    flex-direction: column;
    gap: 10px;
} */

.assigned-add-task {
    display: flex;
    /* align-items: center; */
    /* padding: 10px; */
    flex-direction: column;
}

.assigned-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    isolation: isolate;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
}

.subtask {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subtask-box {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    padding: 11px;
    justify-content: space-between;
}

.input-subtask {
    border: none;
    outline: none;
    width: 100%;
}

.add-task-x-position {
    display: flex;
    top: 17%;
    position: absolute;
    right: 5%;
}

.task-button-box {
    display: flex;
    margin-left: auto;
    gap: 25px;
    margin-top: auto;
    justify-content: end;
}

.add-task-button {
    justify-content: end;
    background: #2A3647;
    border-radius: 10px;
    padding: 10px 15px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 120px;
}

.clear-task-button {
    justify-content: end;
    margin-top: auto;
    border: 1px solid #2A3647;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
}

/* task-added wird nur angezeigt wenn der task hinzugefügt wurde, sonst nicht */
.task-added {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: #FFFFFF;
    top: 850px;
    z-index: 5;
    width: 85%;
}

/* task-added-backlog wird nur angezeigt wenn der task hinzugefügt wurde, sonst nicht */
.task-added-backlog {
    display: flex;
    position: fixed;
    justify-content: space-evenly;
    align-items: center;
    height: 74px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: #FFFFFF;
    top: 950px;
    z-index: 5;
    width: 85%;
}

.add-task-scroll {
    height: 84vh;
    overflow-y: scroll;
}

.add-task-scroll::-webkit-scrollbar {
    width: 5px;
}

.add-task-scroll::-webkit-scrollbar-thumb {
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}


/* responsiveness */
@media (min-width: 951px) {
    .desktop-size {
        display: flex;
    }

    .add-task-line-margin {
        width: 8%;
        display: flex;
        justify-content: center;
    }

    .add-task-vertical-line {
        border: 1px solid #D1D1D1;
        margin: 32px;
        min-height: 200px;
        height: 32vh;
    }

    .add-task-responsive-left {
        width: 46%;
    }

    .add-task-responsive-right {
        width: 46%;
    }
}

@media (max-width: 800px) {
    .task-button-box {
        display: none;
    }

    .create-button {
        display: block;
    }
}

@media (min-width: 801px) {
    .add-task-x-position {
        display: none;
    }
    .responsive-hide {
        display: none;
    }
}