.kanban-tool-text {
	margin-bottom: 2.5vh;
}

.display {
	display: flex;
}

.board-header-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.board-header-mobile {
	display: flex;
	justify-content: space-between;
}

.board-header-mobile img {
	display: none;
	cursor: pointer;
}

.btn-dark:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}



.textarea-find-task {
	font-size: 16px;
	min-height: 41px;
	height: 5vh;
	width: 100%;
	padding: 12px 21px 10px 21px;
	margin-right: 8px;
	box-sizing: border-box;
	border-radius: 10px;
	background-color: #ffffff;
	resize: none;
	border: none;
}

.form-find-task {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3vh;
	margin-bottom: 3vh;
	border: 1px solid #a8a8a8;
	min-width: 230px;
	border-radius: 10px;
	background-color: #ffffff;
}

.board-find-section {
	display: flex;
	align-items: center;
	justify-content: right;
}

#boardFindSectionImage {
	display: flex;
	align-items: center;
	padding: 10px 15px;
	border-radius: 10px;
	height: 4vh;
	margin-left: 4vw;
	max-height: 55px;
	background-color: #2a3647;
	color: white;
	font-weight: 700;
	font-size: 21px;
}



#boardFindSectionImage:hover {
	cursor: pointer;
	background-color: #29abe2;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#boardFindSectionImage img {
	padding-left: 10px;
}

.header-task-status {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-bottom: 3vh;
}

.header-task-status img {
	cursor: pointer;
}

.task-status-description {
	font-size: 21px;
	font-weight: 700;
}

.task-container-mobile {
	background-color: white;
	border-radius: 30px;
	padding: 5%;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-bottom: 3vh;
}

.hover:hover {
	cursor: pointer;
}

.task-container-animation {
	transition: 80ms;
	box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
	transform: rotate(2.5deg);
	/* background-color: white; */
	/* opacity: 0; */
}

.task-container-mobile-empty {
	font-size: 16px;
	background-color: #d1d1d1;
	border: 1px dashed #a8a8a8;
	border-radius: 10px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
	color: #a8a8a8;
	height: 5vh;
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 3vh;
}

.task-category-name {
	font-size: 16px;
	font-weight: 400;
	padding: 4px 25px;
	border-radius: 8px;
	color: white;
}

.task-title {
	font-size: 16px;
	font-weight: 700;
	color: #2a3647;
	padding: 5% 0;
}

.task-description {
	font-size: 16px;
	font-weight: 400;
	color: #a8a8a8;
}

.progress-bar-container {
	height: 1.5vh;
	margin-top: 3vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.taskProgressBar {
	width: 90%;
	border-radius: 2px;
	height: 0.8vh;
	background: #f4f4f4;
}

.task-progress-bar-done {
	border-radius: 2px;
	height: 0.8vh;
	background-color: #29abe2;
}

.taskProgressBarCounter {
	font-size: 12px;
	font-weight: 400;
	min-width: 50px;
	padding-left: 5%;
}

.task-assigned-to-icon {
	font-size: 12px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 8px;
	color: white;
	max-width: 35px;
	max-height: 35px;
	width: 3.5vh;
	height: 3.5vh;
	border: 1px solid #ffffff;
	border-radius: 50%;
	margin-right: -5%;
	background-color: #2a3647;
}

.task-assigned-to-prio-image {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 3vh;
	width: 100%;
}

.task-prio-image {
	width: 3vw;
	min-width: 25px;
	max-width: 35px;
}

.all-task-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: calc(100vh - 305px);
	overflow-y: scroll;
	border-radius: 30px;
	padding-top: 15px;
	padding-right: 15px;
}

.all-task-container::-webkit-scrollbar {
    width: 5px;
}


.all-task-container::-webkit-scrollbar-thumb {
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}

.task-section-container {
	display: flex;
	flex-direction: column;
	width: 23%;
}

#searchTasksResetBtn:hover {
	cursor: pointer;
}



/* -----------RESPONSIVE----------------- */

@media (max-width: 1350px) {
	.all-task-container {
		flex-direction: column;
		height: calc(100vh - 355px);
	}

	.task-section-container {
		width: 100%;
	}

	.board-header-section {
		flex-direction: column;
		align-items: flex-start;
	}

	.board-header-mobile {
		width: 100%;
	}

	.board-header-mobile img {
		display: flex;
	}

	.form-find-task {
		width: 100%;
	}

	.board-find-section {
		justify-content: left;
	}

	#boardFindSectionImage {
		display: none;
	}
}

@media (max-width: 800px) {
	.all-task-container {
		height: calc(100vh - 460px);
	}
}

@media (max-width: 360px) {
	.all-task-container {
		height: calc(100vh - 395px);
	}
}






.drag-mini-menu {
	display: flex;
	justify-content: center;
	flex-direction: column;
    padding: 12px 11px 12px 11px;
    width: 140px;
    height: 140px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 21px 0px 21px 21px;
	color: white;
	gap: 15px;
}

.drag-mini-menu-box {
	display: flex;
    margin-left: 69%;
}

@media (min-width: 500px) {
	.drag-mini-menu-box {
		margin-left: 50%;
	}
}

@media (min-width: 310px) {
	.drag-mini-menu-box {
		margin-left: 20%;
	}
}