.contact-description-h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mb-11 {
    display: flex;
    margin-bottom: 11px;
}

.blue-line {
    display: flex;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.go-back-contact {
    display: flex;
    justify-content: space-between;
}

.go-back-contact img {
    height: 14px;
    margin-top: 33px;
    cursor: pointer;
    display: none;
}

.mail-mobil div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.mail-mobil a {
    margin-bottom: 12px;
    color: #29ABE2;
    text-decoration: none;
    margin-top: 10px;
}

.initials {
    min-width: 80px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #FF7A00;
    border: 3px solid #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
}

.add-task {
    display: flex;
    align-items: center;
    color: #29ABE2;
    gap: 5px;
}

.add-task:hover {
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(13, 114, 114, 0.25));
    font-weight: bold;
}

.add-task img {
    height: 13px;
}

.mobile-edit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 10%;
}

.mobile-edit img {
    height: 27px;
    margin-top: 7px;
    margin-right: 10px;
    cursor: pointer;
}

.mobile-edit p:hover {
    color: #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(13, 114, 114, 0.25));
    font-weight: bold;
}

.mobile-edit img:hover {
    color: #29ABE2;
    filter: drop-shadow(0px 4px 4px rgba(9, 208, 208, 0.25));
    font-weight: bold;
}

.contact-info {
    display: flex;
    gap: 20px;
    align-items: center;
}

.delete-button-contact {
    box-sizing: border-box;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 78%;
    right: 5%;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.edit-button-contact {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #2A3647;
    top: 85%;
    right: 5%;
    border-radius: 10px;
}

.center-add-task-span {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 800px) {
    #contactsDescriptionContent {
        display: none;
        width: 0;
    }

    #contactsContent {
        width: 100%;
    }

    .delete-button-contact {
        display: flex;
        cursor: pointer;
    }

    .edit-button-contact {
        display: flex;
        cursor: pointer;
    }

    .mobile-edit {
        display: none;
    }

    .go-back-contact img {
        display: flex;
    }
}

@media (min-width: 801px) {
    .go-back-contact img {
        display: none;
    }
}