body {
    margin: 0;
    min-height: 100vh;
    /* jede content-seite / oder footer im mobile sollte margin-top: auto; als classe bekommen, dadurch hat der body immer 100vh da er sich auf 100vh ausstreckt und das andere diesen platz gibt dafür*/
    display: flex;
    flex-direction: column;
    background: white;
}

span {
    margin-bottom: 5px;
    display: flex;
}

.content-contact {
    background-color: white;
    display: flex;
	flex-direction: column;
	width: 85vw;
	/* min-width: 270px; */
    margin-left: auto;
    margin-right: auto;
}
/* hier drüber andere globale einstellungen für diese seite.... */


.add-new-contact {
    display: flex;
    justify-content: end;
}

.add-new-contact img {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.contacts-list h3 {
    padding-left: 24px;
}

.line img {
    width: 90%;
    height: 1px;
}

.left-distance {
    padding-left: 20px;
}

.assigned {
    display: flex;
    align-items: center;
    padding: 10px;
}

.assigned a {
    text-decoration: none;
}

.name-border {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    color: white;
    width: 45px;
    height: 45px;
    background: #9327FF;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.name-border2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    color: white;
    width: 45px;
    height: 45px;
    background: #FFA800;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.contact-created {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding: 15px; */
    height: 50px;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    position: fixed;
    top: 800px;
    z-index: 5;
    width: 85%;
}

.overflow-scroll {
    height: 70vh;
    overflow-y: scroll;
}

/* CSS für die Scrollbar */
.overflow-scroll::-webkit-scrollbar {
    width: 5px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}