.contacts-span span {
    margin-bottom: 5px;
    display: flex;
}

.content-contact {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 294px;
}

.add-new-contact {
    display: flex;
    justify-content: end;
}

.add-new-contact img {
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.line img {
    width: 90%;
    height: 1px;
}

.left-distance {
    padding-left: 20px;
}

.assigned {
    display: flex;
    align-items: center;
    margin-right: 20px;
    padding: 10px;
    flex-direction: row;
    transition: background-color 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.assigned:hover {
    background-color: #f2f2f2;
}

.assigned.clicked {
    background-color: #091931;
    color: #fff;
}

.assigned.clicked a {
    color: #7dacf9;
}

#marginLeftContact {
    margin-left: 3%;
    margin-right: 1%;
}

.name-border2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    color: white;
    width: 45px;
    height: 45px;
    background: #FFA800;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.contact-created {
    height: 60px;
    width: 50%;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 100;
}

.contact-created.show {
    opacity: 1;
}

.overflow-scroll {
    margin-left: 5%;
    margin-right: 2%;
    height: 78vh;
    overflow-y: scroll;
}

.overflow-scroll::-webkit-scrollbar {
    width: 5px;
}

.overflow-scroll::-webkit-scrollbar-thumb {
    border: 7px solid #A8A8A8;
    border-radius: 3px;
}

.contact-dude-button {
    justify-content: center;
    cursor: pointer;
    align-items: center;
    height: 51px;
    padding: 0px 16px;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    background: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 700;
    transition: background-color 0.125s ease !important;
    letter-spacing: 0.3px;
    display: flex;
}

.contact-dude-button img {
    height: 25px;
    margin-left: 10px;
    margin-right: -7px;
}

.contact-dude-button:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}

.headlines-contacts {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

.blue-line-vertical-contact {
    height: 59px;
    width: 3px;
}

.blue-line-horizontal-contact {
    height: 5px;
    width: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.edit-button-contact-desktop {
    display: flex;
    min-width: 121px;
}

.edit-button-contact-desktop .hover-image {
    display: none;
}

.edit-button-contact-desktop:hover .hover-image {
    display: block;
}

.edit-button-contact-desktop:hover img {
    display: none;
}

.edit-button-contact-desktop:hover {
    cursor: pointer;
    filter: drop-shadow(0px 4px 4px rgba(13, 114, 114, 0.25));
    font-weight: bold;
    color: #29ABE2;
}

@media (max-height: 741px) {
    .overflow-scroll {
        margin-left: 5%;
        margin-right: 2%;
        height: 65vh;
        overflow-y: scroll;
    }
}

@media (max-height: 650px) {
    .overflow-scroll {
        margin-left: 5%;
        margin-right: 2%;
        height: 60vh;
        overflow-y: scroll;
    }
}

@media (min-width: 801px) {
    .overflow-scroll {
        height: 91vh;
    }

    .contact-dude-button {
        position: absolute;
        bottom: 70px;
        right: 50px;
    }
}

@media (min-width: 1000px) {
    .headlines-contacts {
        transform: scale(0.7);
        margin-left: -44px;
        margin-right: -50px;
    }
}

@media (min-width: 1000px) {
    .headlines-contacts {
        margin-left: 0;
    }
}

@media (max-width: 1000px) {
    .headlines-contacts {
        display: flex;
        flex-direction: column;
        width: 230px;
    }

    .blue-line-vertical-contact {
        display: none;
    }
}

@media (min-width: 1001px) {
    .blue-line-horizontal-contact {
        display: none;
    }

    .headlines-contacts {
        margin-left: 0;
        transform: scale(1);
        margin-right: -50px;
    }
}