
/* div {
	border: 1px solid black;
}

span {
	border: 1px solid black;
} */




.task-background {
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 300;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.edit-task-container {
	background-color: white;
	border-radius: 30px;
	padding: 3%;
	display: flex;
	/* flex-direction: column; */
	align-items: start;
	margin: 3%;
	max-width: 620px;
}

.edit-task-btn-section {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
}

.edit-task-input-section {
	margin-right: 3vw;
}

/* .edit-task-btn-section img {
	
} */

.edit-task-header {
	font-size: 16px;
	padding-top: 2.5vh;
}

.edit-task-header input{
	min-width: 400px;
	min-height: 35px;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	word-break: keep-all;
	margin-top: 0.5vh;
	padding-left: 1.5vw;
	padding-right: 1.5vw;

	border-radius: 10px;
	border: 1px solid #D1D1D1;
}

.edit-task-header input:hover {
	cursor: pointer;
}


.edit-task-header textarea{
	min-width: 400px;
	min-height: 55px;
	font-size: 16px;
	font-family: 'Inter', sans-serif;
	word-break: keep-all;
	margin-top: 0.5vh;
	padding-top: 1.5vh;
	padding-left: 1.5vw;
	padding-right: 1.5vw;

	border-radius: 10px;
	border: 1px solid #D1D1D1;
}

.edit-task-header textarea:hover {
	cursor: pointer;
}

/* .task-assigned-to-icon {
	font-size: 12px;
	font-weight: 400;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 8px 8px;
	color: white;
	max-width: 35px;
	max-height: 35px;
	width: 3.5vh;
	height: 3.5vh;
	border: 1px solid #ffffff;
	border-radius: 50%;
	margin-right: -5%;
	background-color: #2a3647;
} */














/* 
.task-view-title {
	font-size: 36px;
	font-weight: 700;
	color: #2a3647;
	padding: 3% 0;
}

.task-view-description {
	font-size: 16px;
	font-weight: 400;
	color: black;
	padding-bottom: 2%;
	word-break: keep-all;
}

.task-view-due-date {
	padding: 2% 0;
}

.assigned-to-task-view {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 1% 0;
	margin-top: 4%;
	font-weight: 400;
}

.task-view-priority {
	padding: 2% 0;
	display: flex;
	align-items: center;
	margin-bottom: 1vh;
}

.task-view-priority img {
	padding-left: 16px;
}

.task-view-icon {
	margin-right: 3vw;
	font-size: 16px;
	width: 3.5vh;
	height: 3.5vh;
	max-width: 40px;
	max-height: 40px;
}

.task-view-prio-image {
	height: 35px;
}

.subtask-task-view {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 1vh 0;
	padding-right: 3vw;
}

.subtask-task-view img {
	padding-right: 1vw;
}

.task-view-subtask-container {
	display: flex;
	font-weight: 400;
	flex-wrap: wrap;
	margin-bottom: 2vh;
}

.task-view-space-between {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.task-view-space-between img:hover {
	cursor: pointer;
} */







