.login-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    padding: 12px 5%;
    padding-bottom: 30px;
    gap: 10px;
    width: clamp(500px, 40vw, 652px);
    background: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    z-index: 1;
}


.go-back-arrow {
    height: 16px;
    position: absolute;
    top: 50px;
    left: 50px;
}


.btn-dark {
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    transition: background-color 0.125s ease !important;
    letter-spacing: 0.3px;
}


.btn-dark:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}


.btn-bright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    padding: 0px 16px;
    gap: 10px;
    transition: background-color 0.125s ease !important;
    border: 1px solid #2A3647;
    border-radius: 8px;
}


.btn-bright:hover {
    cursor: pointer;
    border: 1px solid #29ABE2;
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.25));
    color: #29ABE2;
}


.not-a-join {
    position: absolute;
    font-size: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 35px;
    right: 50px;
    top: 67px;
    z-index: 1;
}


.guest-login {
    font-size: 21px;
    font-weight: 700;
}


.login-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 330px;
    height: 70px;
}


.login-btn {
    width: 120px;
}


.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 99vh;
}


.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #F6F7F8;
}


.line-login {
    width: 150px;
    height: 0px;
    border-top: 3px solid #29ABE2;
    margin-bottom: 10px;
    border-radius: 10px;
}


.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    height: 51px;
    margin-bottom: 50px;
}


.input-container {
    width: clamp(320px, 26vw, 600px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.input {
    width: 100%;
    height: 45px;
    font-size: 21px;
    border: none;
    outline: none;
}


.remember-check {
    display: flex;
    margin-bottom: 15px;
    margin-left: -13px;
    width: 330px;
    gap: 35px;
}


.remember-check input {
    width: 16px;
    height: 16px;
    cursor: pointer;
}


.remember-check a {
    color: #29ABE2;
    text-decoration: none;
}


.remember-check span {
    margin-left: 16px;
    margin-right: 32px;
}


.check {
    width: 150px;
    height: 20px;
    display: flex;
    justify-content: space-around;
    cursor: context-menu;
}


#myCheckbox {
    margin-top: 0px;
}


.checkbox {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    margin-top: 3px;
}



#passwordError {
    width: 100%;
    margin-top: -50px;
    margin-bottom: 20px;
    color: red;
}


.animate-background {
    animation: bg-transparent 1000ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


@keyframes bg-transparent {

    
    from {
        opacity: 1;
        z-index: 1;
    }

    to {
        opacity: 0;
        z-index: 0;
    }
}


.moving-logo {
    position: absolute;
    z-index: 999;
    left: calc(100vw - 50% - 101px);
    top: calc(100vh - 50% - 122px);
    width: 202px;
    height: 244px;
}


.animate-logo {
    animation: moveJoinLogo 500ms ease-in-out;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}


@keyframes moveJoinLogo {
    from {
        left: calc(100vw - 50% - 101px);
        top: calc(100vh - 50% - 122px);
        width: 202px;
        height: 244px;
    }

    to {
        left: 50px;
        top: 50px;
        width: 101px;
        height: 122px;
    }
}


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}

#userGreetingName {
    color: rgb(41, 171, 226);
}


@media(max-width:1200px) {
    .login-container {
        margin-top: 50px;
        transform: scale(0.85);
    }
}

@media(max-width:600px) {
    .login-container {
        margin-top: 0px;
        width: 80%;
    }

    .not-a-join {
        justify-content: center;
        width: 100%;
        right: unset;
        top: 835px;
        padding-bottom: 20px;
    }

    .check {
        font-size: 16px;
    }

    .font-61 {
        font-size: 47px;
    }

    .not-a-join {
        gap: 5px;
        margin-top: -70px;
        z-index: 2000;
    }
}


@media(max-width:450px) {
    .remember-check {
        flex-direction: column-reverse;
        gap: 30px;
        margin-top: -30px;
        margin-left: -25px;
        width: 80%;
    }

    .login-container {
        position: absolute;
        top: 150px;
    }

    .check {
        display: flex;
        gap: 20px;
    }

    .login-btn {
        width: 180px;
        font-size: 20px;
    }

    .login-buttons {
        flex-direction: column;
        height: auto;
        gap: 35px;
        width: unset;
    }

    .btn-bright {
        padding: unset;
        width: 180px;
        font-size: 20px;
    }

    .moving-logo {
        width: 64px !important;
        height: 78px !important;
        left: 37px !important;
        top: 38px !important;
    }

    .input-field {
        width: 80%;
    }

    .input-container {
        width: unset;
    }

    h1 {
        font-size: 40px;
    }

    .not-a-join span {
        font-size: 16px;
    }


    #passwordError {
        width: 100%;
        margin-top: -50px;
        margin-bottom: 30px;
        margin-left: 20px;
        font-size: smaller;
    }
}