/* .content {
    margin-left: 450px;
    margin-top: 50px;
} */

.logo {
    height: 122px;
    width: 101px;
    margin-top: 50px;
    margin-left: 50px;
}

.button-dark {
    width: 300px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 51px;
    /* Höhe des Elements */
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    /* Kein Rand */
    border-radius: 8px;
    /* Abrundung der Ecken des Elements */
    font-size: 21px;
    font-weight: 700;
    transition: background-color 0.125s ease !important;
    /* Übergangseffekt bei Hover */
    letter-spacing: 0.3px;
    /*sieht besser so aus bei den buttons*/
}


.button-dark:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}