.password-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    padding: 12px;
    padding-bottom: 30px;
    gap: 10px;
    width: clamp(800px, 40vw, 652px);
    background: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    z-index: 1;
    text-align: center;
}

.big-container {
    display: flex;
    justify-content: center;
    margin-top: -20px;
}


.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    height: 51px;
    margin-bottom: 20px;
    cursor: pointer;
}


.logo {
    height: 122px;
    width: 101px;
    margin-top: 50px;
    margin-left: 50px;
}


.button-dark {
    width: 300px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 55px;
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    border-radius: 8px;
    font-size: 21px;
    font-weight: 700;
    transition: background-color 0.125s ease !important;
    letter-spacing: 0.3px;
}


.button-dark:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}



@keyframes slide-up {
    0% {
      transform: translateY(100%) translateX(-50%);
    }
    50% {
      transform: translateY(-0%) translateX(-50%);
    }
    100% {
      transform: translateY(-0%) translateX(-50%);
    }
  }
  
  
  .email-sent {
    position: fixed;
    top: 10%;
    left: 50%;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation-duration: 3s; 
    animation-timing-function: ease-in-out; 
    animation: slide-up 1.0s forwards;
    animation-delay: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

.email-sent.slide-in {
    animation-name: slideInFromBottom;
}



@media(max-width:1200px) {
    .password-container {
        margin-top: 50px;
        transform: scale(0.85);
    }
}


@media(max-width:800px) {
    .slide-in-responsive {
        width: 250px;
        position: fixed;
        bottom: 0px;
    }

    
.go-back-arrow {
    height: 14px;
    position: absolute;
    top: 30px;
    left: 20px;
}  
}


@media(max-width:450px) {
    
    .password-container {
        text-align: center;
        margin-top: 10px;
    }

.button-dark {
    width: 250px;
}
}


@keyframes slideInFromBottom {
    0% {
        transform: translateY(80%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(-10%);
    }
}


