.password-container {
    position: relative;
    /* Relative Positionierung */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    padding-bottom: 30px;
    /* Innenabstand oben und unten: 32px, links und rechts: 5% */
    gap: 10px;
    /* Abstand zwischen den Elementen in der Flexbox: 20px */
    width: clamp(800px, 40vw, 652px);
    /* Breite der Flexbox abhängig von der Bildschirmbreite, mit Mindest- und Maximalwerten */
    background: white;
    /* Hintergrundfarbe der Flexbox */
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    /* Schatten um die Flexbox */
    border-radius: 30px;
    /* Abrundung der Ecken der Flexbox */
    z-index: 1;
    /* Z-Index des Elements auf 1 setzen */
    text-align: center;
}

.big-container {
    display: flex;
    justify-content: center;
}


.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 21px;
    background: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    width: 100%;
    height: 51px;
    margin-bottom: 20px;
    cursor: pointer;
}


.logo {
    height: 122px;
    width: 101px;
    margin-top: 50px;
    margin-left: 50px;
}

.button-dark {
    width: 300px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    height: 51px;
    /* Höhe des Elements */
    padding: 0px 16px;
    color: white;
    background: #2A3647;
    border: none;
    /* Kein Rand */
    border-radius: 8px;
    /* Abrundung der Ecken des Elements */
    font-size: 21px;
    font-weight: 700;
    transition: background-color 0.125s ease !important;
    /* Übergangseffekt bei Hover */
    letter-spacing: 0.3px;
    /*sieht besser so aus bei den buttons*/
}


.button-dark:hover {
    border: none;
    background-color: #29ABE2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.125s ease;
}

/* animation für password-slide in buttons*/

@keyframes slide-up {
    0% {
      transform: translateY(100%) translateX(-50%);
    }
    50% {
      transform: translateY(-0%) translateX(-50%);
    }
    100% {
      transform: translateY(-0%) translateX(-50%);
    }
  }
  
  
  .email-sent {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    animation-duration: 3s; /* Anpassen der Animationsdauer nach Bedarf */
    animation-timing-function: ease-in-out; /* Anpassen der Timing-Funktion nach Bedarf */
  }

  
  .email-sent {
    animation: slide-up 1.0s forwards;
    animation-delay: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
/* animation für password-slide in buttons Ende*/


@media(max-width:800px) {
    .password-container {
        transform: scale(0.85);
        margin-top: 100px;
    }

    .slide-in-responsive {
        width: 250px;
        position: fixed;
        bottom: 0px;
    }

    
.go-back-arrow {
    height: 14px;
    position: absolute;
    top: 30px;
    left: 20px;

}
    

}

@media(max-width:450px) {
    
    .password-container {
        text-align: center;
    }

    
.button-dark {
    width: 250px;
   
}
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes slideOutToBottom {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50%);
    }
    100% {
        transform: translateY(100%);
    }
}

.email-sent {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: paused;
}

.email-sent.slide-in {
    animation-name: slideInFromBottom;
}

.email-sent.slide-out {
    animation-name: slideOutToBottom;
}
