.summary-line-horizontal {
    width: 200px;
    height: 3px;
    margin-bottom: 42px;
    margin-top: 15px;
    display: none;
    
}

.blue-line-horizontal {
    width: 200px;
    height: 3px;
    margin-bottom: 42px;
    margin-top: 15px;
    
}

.blue-line-vertical {
    padding-top: 10px;
    height: 59px;
    width: 3px;
}


.headlines {
    max-width: 500px;
    display: flex;
    justify-content: space-between;
}


.headlines span {
    padding-top: 30px;
}


.kanban {
    display: none;
}

.summary-content {
    display: flex;
    max-height: 600px;
}


aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 70px;
}

#userGreetingName {
    color: rgb(41, 171, 226);
}



.row {
    width: 500px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: space-between;
}



.card-row-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}


.card-row-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 780px;
    height: 170px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}


.card-row-2-left {
    display: flex;
    flex-direction: row;
    gap: 15px;
}


.card-row-2-middle {
    height: 100px;
    border-left: 2px solid;
    color: #e1dcdc;
}


.card-row-2-right {
    display: flex;
    flex-direction: column;
}


.amount {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.card-row-3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 38px 19px;
    gap: 18px;
    width: 300px;
    height: 100px;
    background: white;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
}


.card-row-1:hover {
    background-color: #2A3647;
    transition: all 0.5s ease-in-out;
    transform: scale(1.07);
    color: white;
    cursor: pointer;
}


.card-row-2:hover {
    background-color: #2A3647;
    transition: all 0.5s ease-in-out;
    transform: scale(1.07);
    color: white;
    cursor: pointer;
}


.card-row-3:hover {
    background-color: #2A3647;
    transition: all 0.5s ease-in-out;
    transform: scale(1.07);
    color: white;
    cursor: pointer;
}



.card-row-3:hover img {
    filter: invert(100%) brightness(200%);
    /* damit das Bild beim Hovern Hintergrund und Hauptfarbe ändert (danke ChatGPT)*/
}



@media (max-width: 1275px) {
    aside {
        display: none;
    }
}


@media (max-width: 800px) {
    .summary-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin: 0;
        margin-top: 70px;
    }

    .summary-headline {
        justify-content: flex-start;
        padding-right: 40px;
    }

    .summary-content {
        justify-content: center;
        max-height: 400px;
    }

    .headlines {
        display: block;
    }


    .kanban {
        display: block;
    }

    .summary-line-horizontal {
        width: 100px;
        height: auto;
        display: block;
    }

    .blue-line-vertical {
        display: none;
    }

    .blue-line-horizontal {
        display: none;
        
    }
    
}





@media (max-width: 750px) {
    .summary-content {
        transform: scale(0.8);
        /*Verkleinerung um 20%*/
    }

    .summary-content {
        margin-top: -50px;
    }
}

@media (max-width: 520px) {
    .summary-content {
        transform: scale(0.75);
        /*Verkleinerung um 25%*/
    }

}



@media (max-width: 425px) {
    .summary-content {
        transform: scale(0.6);
        /*Verkleinerung um 40%*/
        margin-left: 10px;
        margin-right: 10px;
    }

    .font-16 {
        font-size: 20px;
    }


    .summary-content {
        margin-top: -80px;
    }


    .row {
        max-width: 470px;
        display: flex;
        flex-direction: row;
        width: 500px;
        margin-bottom: 50px;
        align-items: center;
        justify-content: space-between;
    }

}