.row {
    display: flex;
    flex-direction: row;
}

.category-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 50px;
    color: white;
}

.category {
    padding: 4px 20px;
    background: #FC71FF;
    border-radius: 8px;
}

.date {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
}

.priority {
    align-items: center;
    justify-content: space-between;
    max-width: 200px;
}

.prio-urgent {
    padding: 4px 18px;
    justify-content: space-between;
    background: #FF3D00;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: white;
}

.name-border {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    color: white;
    min-width: 45px;
    min-height: 45px;
    background: #9327FF;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.name-border2 {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 8px;
    gap: 10px;
    color: white;
    width: 45px;
    height: 45px;
    background: #FFA800;
    border: 2px solid #FFFFFF;
    border-radius: 58px;
}

.delete-button {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 81%;
    right: 5%;
    border: 1px solid #2A3647;
    border-radius: 10px;
}

.edit-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: #2A3647;
    top: 90%;
    right: 5%;
    border-radius: 10px;
}




/* -------------ab hier von Tobi--------------- */


.task-background {
	background-color: rgba(0, 0, 0, 0.3);
	z-index: 300;
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.task-view-container {
	background-color: white;
	border-radius: 30px;
	padding: 3%;
	display: flex;
	flex-direction: column;
	align-items: start;
	margin: 3%;
	max-width: 620px;
	/* overflow-y: scroll; */
}

.task-view-category-name {
	font-size: 27px;
	font-weight: 400;
	padding: 4px 37px;
	border-radius: 8px;
	color: white;
}

.task-view-title {
	font-size: 36px;
	font-weight: 700;
	color: #2a3647;
	padding: 3% 0;
}

.task-view-description {
	font-size: 16px;
	font-weight: 400;
	color: black;
	padding-bottom: 2%;
	word-break: keep-all;
}

.task-view-due-date {
	padding: 2% 0;
}

.assigned-to-task-view {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 1% 0;
	margin-top: 4%;
	font-weight: 400;
}

.task-view-priority {
	padding: 2% 0;
	display: flex;
	align-items: center;
	margin-bottom: 1vh;
}

.task-view-priority img {
	padding-left: 16px;
}

.task-view-icon {
	margin-right: 3vw;
	font-size: 16px;
	width: 3.5vh;
	height: 3.5vh;
	max-width: 40px;
	max-height: 40px;
}

.task-view-prio-image {
	height: 35px;
}

.subtask-task-view {
	display: flex;
	justify-content: start;
	align-items: center;
	padding: 1vh 0;
	padding-right: 3vw;
}

.subtask-task-view img {
	padding-right: 1vw;
}

.task-view-subtask-container {
	display: flex;
	font-weight: 400;
	flex-wrap: wrap;
	margin-bottom: 2vh;
}

.task-view-space-between {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

.task-view-space-between img:hover {
	cursor: pointer;
}

.task-view-change-section {
	display: flex;
	align-items: end;
	justify-content: space-between;
	width: 100%;
}

.task-view-change-img {
	display: flex;
	justify-content: center;
	padding-left: 20px;
}

.task-view-change-img img:hover {
	cursor: pointer;
}

